:root {
    --color__primary: #0077cc;
    --color__fucsia: #ff146edf;
    --color__green: #6dc72e;
    --color__orange: #ffa207;
}


.button-blue {
    color: #fff !important;
    background-color: var(--color__primary) !important;
}

.input-search {
    border-radius: 25px 0px 0px 0px !important;
    border: solid #0077cc 1px !important;
}


.button-search {
    border-radius: 0px 0px 25px 0px !important;
    border: solid #0077cc 1px !important;
}

.button-search:hover {
    color: #fff !important;
    background-color: var(--color__primary) !important;
    border: solid #0077cc 3px !important;
}

.button-cart {
    font-size: 20px !important;
    text-decoration: none !important;
    color: var(--color__primary) !important;
}

.search-brand-collapse {
    font-size: 12px;
}


.search-brand-collapse .sidebar {
    background: rgba(255, 255, 255, 0.978);
    position: fixed;
    top: 80px;
    left: -300px;
    width: 280px;
    height: 100px;
    padding: 20px 0;
    z-index: 2000;
    transition: all 0.5s ease;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 2px 2px 3px #0077cc;
}

body.search-brand .search-brand-collapse .sidebar {
    left: 30px;
}

body.search-brand-collapse {
    right: 30px;
}


#carousel {
    max-height: 350px;
}

.carousel-item img {
    border-radius: 150px 0px 150px 0px;
}

.zoom {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px 10px 10px 10px;
    color: rgb(5, 8, 110);
    background-color: #97def3;
}

.zoom p {
    margin-bottom: 0;
    margin-right: 15px;
}

.zoom span {
    margin-bottom: 0;
    margin-left: 5px;

}


.zoom span img {
    margin-right: 20px;
    margin-left: 20px;
}

.zoom img {
    max-width: 90px;
}


.title-section {
    border-bottom: #d6d7d7 solid 1px;
    font-weight: 600;
}

.carousel-ads img {
    max-width: 180px;
    max-height: 180px;
}

.item-ad-carousel img {
    border-radius: 20px 0px 20px 0px;
    margin: 0;

}

.bg-primary-color{
    background-color: #0077cc !important;
}

.float-whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.icon-float-whatsapp{
	margin-top:16px;
}

.icon-footer{
    font-size: 24px !important;
    color: #fff;
}
